<div id="main">
  <div id="project-nav">
    <ul>
      
    </ul>
  </div>
  
  <div id="action-nav">
    <ul class="clear">
      
    </ul>
  </div>
  <div id="flashes">
    <div style="display: none;" id="flash-errors"> </div>
    <div style="display: none;" id="flash-notice"> </div>
  </div>
  <div id="page-top">
    
  </div>
  <div class="clear" id="main-content">
    <form method="post" action="/members"><div style="margin: 0pt; padding: 0pt;"><input type="hidden" value="1928dcd29e59b874b499734a57c287b455f5db6a" name="authenticity_token"/></div>
      <div class="group">
        <div id="invite-form">
          <p>The people you invite who don't already have a Lighthouse profile will be sent a link to create a profile.  People who already have a profile, will have access immediately, but will be 
          sent an email notifying them that you've invited them to your account.</p>
          <dl>
            <dt><label for="emails">Enter the email addresses for the people you'd like to invite</label>
              <p class="hint">Separate each email address with a space. (e.g. jhon@domain.com tom@domain.com)</p>  
            </dt>
            <dd><input type="text" style="width: 70%;" name="emails" id="emails" class="big"/></dd>
            <dt><label for="message">Send an optional message with the invites</label>
            </dt>
            <dt><label for="email">Invite members to:</label></dt>
            <dd>
              <select name="project_id">
                <option value="">Account: onlybug1 (all projects)</option>    
              </select>
            </dd>
          </dl>
          <p class="btns" id="btns"><input type="submit" value="Send Invite(s)" name="commit"/></p>
        </div>
      </div>
    </form>
  </div>
</div>
<div id="sbar">
  
  
  
  <div class="sblock">
    <h3>Your Members</h3>
    <p>
      This account has <a href="/members"><strong>1</strong> member</a> total.  You're allowed <strong>2 members</strong> in all.
    </p>
  </div>
  
  
</div>
